
:root {
  --bg-color: #f0f4f9;
 --text-color: #4e4e4e;
  --card-bg: #f0f4f9;
  --hover-color: #e2e6eb;
  --input: #e6eaf1;
}

.app{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #d0d0d0;
  --card-bg: #2b2b2b;
  --hover-color: #333;
  --input: #2b2b2b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar,
.main {
  background-color: var(--bg-color);
  color: var(--text-color);
}
